.mstheme{
nav-banner-image:url(blobane.gif);
separator-image:url(blorulee.gif);
list-image-1:url(blobul1e.gif);
list-image-2:url(blobul2e.gif);
list-image-3:url(blobul3e.gif);
navbutton-horiz-pushed:url(bhbtnse.gif);
navbutton-horiz-normal:url(bhbtnne.gif);
navbutton-horiz-hovered:url(bhbtnhe.gif);
navbutton-vert-pushed:url(bvbtnse.gif);
navbutton-vert-normal:url(bvbtnne.gif);
navbutton-vert-hovered:url(bvbtnhe.gif);
navbutton-home-normal:url(bhmbtne.gif);
navbutton-home-hovered:url(bhmbthe.gif);
navbutton-up-normal:url(bubtnne.gif);
navbutton-up-hovered:url(bubtnhe.gif);
navbutton-prev-normal:url(bpbtnne.gif);
navbutton-prev-hovered:url(bpbtnhe.gif);
navbutton-next-normal:url(bnbtnne.gif);
navbutton-next-hovered:url(bnbtnhe.gif);
}
UL{
list-style-image:url(blobul1e.gif);
}
UL UL{
list-style-image:url(blobul2e.gif);
}
UL UL UL{
list-style-image:url(blobul3e.gif);
}
.mstheme-bannertxt{
font-family:arial,helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
