.mstheme{
nav-banner-image:url(blobanc.gif);
separator-image:url(blorulec.gif);
list-image-1:url(blobul1c.gif);
list-image-2:url(blobul2c.gif);
list-image-3:url(blobul3c.gif);
navbutton-horiz-pushed:url(bhbtnsc.gif);
navbutton-horiz-normal:url(bhbtnnc.gif);
navbutton-vert-pushed:url(bvbtnsc.gif);
navbutton-vert-normal:url(bvbtnnc.gif);
navbutton-home-normal:url(bhmbtnc.gif);
navbutton-up-normal:url(bubtnc.gif);
navbutton-prev-normal:url(bprvbtnc.gif);
navbutton-next-normal:url(bnbtnc.gif);
}
UL{
list-style-image:url(blobul1c.gif);
}
UL UL{
list-style-image:url(blobul2c.gif);
}
UL UL UL{
list-style-image:url(blobul3c.gif);
}
.mstheme-bannertxt{
font-family:arial,helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
